%h1 Posts
%hr
.row#post-nav
  .col-xs-12
    = render partial: 'post_index_controls'
.list-group
  = will_paginate @posts, renderer: BootstrapPagination::Rails
  = render_posts
= will_paginate @posts, renderer: BootstrapPagination::Rails
.row#post-nav
  .col-xs-12
    = render partial: 'post_index_controls'
